.about-me > #paragraph {
    width: 800px;
    color: rgb(79, 75, 75);
}

@media only screen and (max-width: 2680px) {

    #paragraph{
        letter-spacing: 2px;
        line-height: 1.6;
        width: 800px;
    }
    .about-me {
    display: grid;
    height: 286px;
    width: 100%;
    place-content: center;
    margin: 80px 0px;
}
}

@media only screen and (max-width: 600px) {

    #paragraph{
        letter-spacing: 1px;
        line-height: 1.6;
        width: 375px;
    }
}