@import url(https://fonts.googleapis.com/css?family=Fira+Sans:200,400,500);
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

.project-description {
  position: absolute;
  padding: .2rem;
  left: 1%;
  top:10%;
  color: white;
  font-size: .8em;
  display: none;
}
.project-link-btn {
  position: absolute;
  left: 0%;
  right: 0%;
  bottom: 20px;
  color: white;
  font-size: 2em;
  display: none;
}
.outer:hover .project-description {
  display: block;
  z-index: 10;
}
.outer:hover .project-link-btn {
    display: block;
    z-index: 10;
}
.outer .project-link-btn:hover {
  font-size: 1.5em;
  transition: all .2s ease-in;
}

@media only screen and (max-width: 2680px) {
  .box{
    /* position: absolute; */
    padding: 40px 10px;
    display: grid;
    gap: 1rem;
    width: 100%;
    place-items: center;
  }
}

@media only screen and (max-width: 2680px) {
  .my-projects {
    height: 400px;
    width: 400px;
    display: flex;
    align-items: center;
    overflow-y: hidden;
    position: relative;
    width: 90%;
    /* height: 20%; */
    background-color: rgb(255, 255, 255);
  }
  .outer {
    min-width: 230px;
    float: none;
    display: inline-block;
    zoom: 1;
    margin: 10px;
    border-radius: 10px;
    background-color: #fff;  
    position: relative;
    width: 70%;
    height: 180px;
    display: inline-flex;
    background-image: linear-gradient(rgb(5, 100, 87), rgb(9, 174, 127));
    transition: all 0.5s;
  } 
   .outer h2{
    position: absolute;
    top: 2px;
    left: 0px;
    right: 0px;
    color: white;
  }

   .outer img{
    width: 130px;
    height: 171px;
    position: absolute;
    bottom: 1px;
    border-radius: 10px;
  }
  .work-skills #tag{
    display: inline;
  }
  .work-skills{
    position: absolute;
    bottom: 8px;
    left: 33%;
  }
  #link-to-github{
    position: absolute;
    height: 43px;
    width: 39px;
    top: 67px;
    right: 26px;
  }
  /* .outer4 {
    position: relative;
    display: inline-block;
    min-width: 230px;
    width:70%;
    height: 180px;
    transition: all 0.5s;
    border-radius: 10px;
 } */
  .outer::after {
    position: absolute;
    z-index: 9;
    content: '';
    transition: all 0.2s ease;
 }
 #project1::after,#project2::after,#project3::after,#project4::after {
    left: 0;
    width: 100%;
    height: 0;
    content:'';
 } 
 .outer#project4::after, .outer#project3::after, .outer#project2::after, .outer#project1::after {
    bottom: 0;
    background-color: rgb(9,174,127);
 }
 #project1:hover::after, #project2:hover::after, #project3:hover::after, #project4:hover::after {
    width: 100%;
    height: 100%;
    border-radius: 10px;
 }
 #projects-heading{
  color: rgb(0, 0, 0);
  display: grid;
  font-size: 4em;
  font-family: 'Poppins', sans-serif;
}
}

@media only screen and (max-width: 600px) {
  .box{
    padding: 40px 10px;
    display: grid;
    gap: 1rem;
    grid: none;
    width: 100%;
    place-items: center;
  }
   .outer p{
    display: none;
  }
   .outer h2{
    position: absolute;
    top: 2px;
    left: 0%;
    right: 0%;
    color: white;
    z-index: 900;
  }
  .work-skills #tag{
    display: block;
  }
  .work-skills{
    position: absolute;
    bottom: 27px;
    left: 66%;
  }
  #link-to-github{
    position: absolute;
    height: 20px;
    width: 20px;
    top: 4px;
    right: 4px;
  }
}
#projects-heading{
  color: rgb(0, 0, 0);
  display: grid;
  font-size: 4em;
  font-family: 'Poppins', sans-serif;
}
 .outer{
  align-items: center;
}



@media only screen and (max-width: 600px) {
  .outer{
    border-radius: 15px;
    border:rgb(150, 81, 81) solid;
    width: 300px;
    height: 180px;
    display: inline-flex;
    background: #eee;
    box-shadow: 5px 7px 7px 1px rgba(255, 84, 84, 0.937);
  }
}

.outer ul {
    list-style: none;    
    padding: 0%;
}

.tag{
    margin: 3px;
    padding: 3px;
    border-radius: 5px;    
    color: rgb(255, 255, 255);
    /* background-color: rgba(0, 255, 42, 0.507); */
    background-image: linear-gradient(rgb(25, 171, 151), rgb(9, 174, 127));
}
/* 
#project2:hover{
    background-color: aqua;
    height: 200px;
    width: 240px;
    color:rgb(0, 0, 0);
}

#project1:hover{
    background-color: aqua;
    display: flex;
    color: rgb(0, 0, 0);
    z-index: 1;
    height: 200px;
    width: 240px;
}


#project3:hover{
    background-color: aqua;
    height: 200px;
    width: 240px;
    color: rgb(0, 0, 0);
} */

* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  height: 100%;
}
body {
  height: inherit;
  /* display: flex;
  flex-direction: column; */
  font-family: 'Fira Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #79838c;
}
a {
  color: #50585f;
  text-decoration: none;
}

div.container {
  display: flex;
  flex: auto;
  flex-direction: column;
  max-height: 100%;
}
div.header {
  height: auto;
  text-align: center;
  background: rgb(120, 159, 197);
  color: ghostwhite;
  padding: 2.3rem 1rem 2.3rem 1rem;
  position: relative;

}

div.item {
  display: flex;
  flex: auto;
  overflow-y: auto;
  padding: 0rem 1rem 0rem 1rem;
}