.work-experience-info {
    height: fit-content;
    font-size: 20px;
    padding: 10px 10px;
    margin: 50px 10px 100px 10px;
}

.work-experience {
    margin: 50px 0px;
}

.dropdown .work-experience-info {
  margin-top: 10px;
  background-color: #f1f1f1;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.dropdown {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}

.dropdown.open {
  max-height: fit-content; /* Adjust based on your content's size */
  transition: max-height 0.5s ease-in;
}

.work-experience-info ul{
    text-align: left;
    list-style-type: none;
}